:root {
  
  /* Colores principales */
  --color-principal2: #00695C;
  --color-principal: #2E8B92; /* teal profundo */
  --color-principal-hover: #22777D;
  --color-secundario: #F4A261; /* naranja arena */

  /* Fondo y texto */
  --color-fondo: #FAFAFA;
  --color-blanco: #FFFFFF;
  --color-texto: #2C2C2C;
  --color-texto-secundario: #6B6B6B;

  /* Estados */
  --color-exito: #4CAF50;
  --color-error: #E57373;
  --color-advertencia: #E58935;
}